# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyproj
*.egg-info/
dist/
build/
*.egg
*.whl

# Poetry
.venv/
.poetry/
.poetry.lock

# Flask
instance/

# IDE
.vscode/
.idea/
*.iml
.ruff_cache

# Miscellaneous
*.log
*.swp
.DS_Storew

# App
.cache
.env
firebase-cert.json