# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyproj
*.egg-info/
dist/
build/
*.egg
*.whl
*.so
*.dll
*.dylib
*.exe
*.msi
*.pyc

# Poetry
.venv/
.poetry/
.poetry.lock

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.eclipse/
.pydevproject
.pycharm/
.vs/
*.swp
*.swo
*.bak
*.tmp
*.tmp.*
*~
*.log
*.pid
*.pid.*
*.db
*.db-journal
*.sqlite3
*.sqlite3-journal
*.cachefile
.ipynb_checkpoints/
.jupyter/

.env