# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyz
*.pyw
*.pyi
*.pyproj
*.egg-info/
dist/
build/
*.egg
*.whl

# Poetry
.venv/
.poetry/
.poetry.lock

# Flask
instance/
.env

# IDE
.vscode/
.idea/
*.iml

# Miscellaneous
*.log
*.swp
.DS_Store
